@import 'tailwindcss';

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *, .dark, .dark *));

@theme {
    --animate-fade-in: fade-in 0.3s ease-in-out forwards;
    --animate-fade-out: fade-out 0.3s ease-in-out forwards;
    --animate-fade-in-to-left: fade-in-to-left 0.3s ease-in-out forwards;
    --animate-fade-out-to-right: fade-out-to-right 0.3s ease-in-out forwards;
    --animate-fade-in-to-bottom: fade-in-to-bottom 0.3s ease-in-out forwards;
    --animate-fade-out-to-top: fade-out-to-top 0.3s ease-in-out forwards;
    --animate-fade-in-to-top: fade-in-to-top 0.3s ease-in-out forwards;
    --animate-shrink-to-zero: shrink 3s linear forwards;

    @keyframes fade-in {
        from { opacity: 0; }
        to { opacity: 1; }
    }

    @keyframes fade-out {
        from { 
            opacity: 1; 
        }
        to { 
            opacity: 0; 
            pointer-events: none; 
        }
    }

    @keyframes fade-in-to-left {
        from { 
            transform : translateX(100px) ;
            opacity: 0; 
        }
        to { 
            transform : translateX(0px) ;
            opacity: 1; 
            pointer-events: all;
        }
    }

    @keyframes fade-out-to-right {
        from { 
            transform : translateX(0px) ;
            opacity: 1; 
        }
        to { 
            transform : translateX(250px) ;
            opacity: 0;
            pointer-events: none; 
        }
    }

    @keyframes fade-in-to-bottom {
        from { 
            transform : translateY(-100px) ;
            opacity: 0; 
        }
        to { 
            transform : translateY(0px) ;
            opacity: 1; 
            pointer-events: all;
        }
    }
    @keyframes fade-out-to-top {
        from { 
            transform : translateY(0px) ;
            opacity: 1; 
        }
        to { 
            transform : translateY(-100px) ;
            opacity: 0;
            pointer-events: none; 
        }
    }

     @keyframes fade-in-to-top {
        from { 
            transform : translateY(100px) ;
            opacity: 0; 
        }
        to { 
            transform : translateY(0px) ;
            opacity: 1; 
            pointer-events: all;
        }
    }

    @keyframes shrink {
        from { width: 100%; }
        to { width: 0%; }
    }
}

@font-face {
    font-family: 'Ubuntu' ;
    src: url('./assets/fonts/Ubuntu/Ubuntu-Regular.ttf');
}

* {
    scroll-behavior: smooth;
}
body {
    font-family:'Ubuntu', sans-serif 
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif  */
}

p {
    margin: 0;
}

.font-courier{
    font-family: 'Courier New', Courier, monospace;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #0f172a;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 9999px;
    border: 2px solid #0f172a;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}